

.tow{
background-color: yellow;
 width: auto;
 border: 20px solid green;
 padding: 0px;
 margin: 20px;
    }

.three{
 background-color: yellow;
 width: auto;
 border: 20px solid green;
 padding: 0px;
 margin: 20px;
        }

 .four{
 background-color: green;
 width: 0%;
padding: 46.5%;
 margin:20px;
       }